*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.img {
  display: block;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}
/*Task-1*/
.list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.item {
  display: block;
  border-radius: 8px;
  gap: 8px;
  color: #2e2f42;
}

.card {
  background-color: #f6f6fe;
  padding: 24px;
  border-radius: 16px;
  max-width: 400px;
  margin: 40px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.card-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-item {
  padding: 12px 16px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #f6f6fe;
  margin-bottom: 12px;
  font-size: 18px;
  color: #2e2e48;
}

/*Task-2*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  list-style: none;
  gap: 48px 24px;
}
.gallery-li {
  width: calc((100% - 48px) / 3);
}
.box {
  position: relative;
  overflow: hidden;
}
.box img {
  display: block;
  width: 100%;
 
}

/*Task-3*/
.anonymous{
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
      padding: 24px;
      width: 408px;
      height: 136px;
      background-color: #fff;
}
.inputet{
  width: 360px;
    height: 40px;
    font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
        letter-spacing: 0.04em;
      padding: 16px;
        border-radius: 4px;
        border: 1px solid#808080;
}
.first-title{
  font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
      letter-spacing: 0.04em;
      color: #2e2f42;
}

/*Task-4*/
.person-form{
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    position: relative;
}
.login-form{
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
padding: 24px;
    width: 360px;
      height: 152px;

}
.string{
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin: 8px;
}
.blok-string{
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}
.button-log{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 8px;
      width: 84px;
      height: 40px;
      background-color: #4e75ff;
      font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border: none;
        margin-top: 16px;
       margin: 24px;
    
        
}

